{% extends 'account/base.html' %}
{% load staticfiles %}

{% block extra_js %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
    <div class="alert alert-danger igsb-account-messages-block">
        {% for message in messages %}{{ message }}{% endfor %}
    </div>
{% endif %}
<div class="container-fluid igsb-account-create">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-5">
                        <img src="{% static 'img/logo.png' %}" style="max-width:100%">
                    </div>
                    <div class="col-xs-7">
                        <span class="igsb-account-create-description">
                            Change the password to an existing IGSB Web Apps Account.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="igsb-account-create-hoverbox">
                    <span class="igsb-account-create-form-header">Change IGSB Password</span>
                    <form action="{% url 'change_password' %}" method="post" class="igsb-account-create-form" id="account-form">
                        {% csrf_token %}
                        <input type="text" name="username" class="igsb-account-create-form-text" placeholder="Username" id="account-username"><br/>
                        <input type="password" name="old-password" class="igsb-account-create-form-text" placeholder="Old Password" id="account-old-password"><br/>
                        <input type="password" name="new-password" class="igsb-account-create-form-text" placeholder="New Password" id="account-password"><br/>
                        <input type="password" name="password-confirm" class="igsb-account-create-form-text" placeholder="Confirm New Password" id="account-password-confirm"><br/><br/>
                        <button type="submit" class="btn btn-lg igsb-account-create-submit-btn">Create IGSB Account</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock content %}