{% extends 'account/base.html' %}
{% load staticfiles %}

{% block extra_js %}
{% if app_name %}
    <script>
    window.setTimeout(function(){
        window.location.replace('{{ app_redirect_url }}')
    }, 3000);
    </script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid igsb-account-create">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" style="color:white;font-size:2em;">
                <span>The account {{ account_name }} was successfully created.</span><br/>
                {% if app_name %}
                <span>You will be redirected back to {{ app_name }} shortly.</span>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <img src="{% static 'img/logo.png' %}" style="max-width:100%">
            </div>
        </div>
    </div>
</div>
{% endblock %}